body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

/* Hero Section */
.hero {
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
 
.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #0056b3;
}



.my_text{
    text-align: center;
}

.My_slider{
    display: flex;
    flex-direction: column;
}

.my_button{
    display: flex;
    justify-content: center;
}

.my_button button{
    height: 60px;
    border-radius: 40px;
    border: none;
    margin: 20px;
    padding: 0 20px 0 20px;
}

.slider{
    height: 80vh;
    padding: 30px;
    overflow: hidden;

}

.My_slider button:hover{
    background-color: aquamarine;
    cursor: pointer;
}

.My_inside_slider{
    display: flex;
    justify-content: center;
}

.My_inside_slider_txt{
    width: 40vw;
    padding: 50px;
    text-align: center;
    font-size: 18px;
}

.My_inside_slider_txt button{
    height: 50px;
    border: none;
    background-color: orange;
}

.My_inside_slider_pic{
    width: 40vw;
    height: auto;
}

.My_inside_slider_pic img{
    width: 40vw;
}



.The_main{
    text-align: center;
}

.main_content{
    display: flex; 
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    height: 50vh;
}

.circle{
    background-color: #007BFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center{
    background-color: rgb(167, 186, 202);
}